<style>
.allActivities{
    margin-top: 61px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
}
.allActivities .heading{
    margin-top: 10px;
    height: 27px;
    border-bottom: 2px solid #ddd;
}
.allActivities .heading span{
    padding: 10px;
    font-size: 15px;
}
.allActivities .showHide{
float: right;
}
.allActivities .activitiesStreams{
max-height: 450px;
overflow: auto;
display: block;
width: 100%;
}
.allActivities .comments{
padding: 0px 10px;
}
.allActivities .activitystream-list{
    width: 99% !important;
}
.allActivities .no_activity{
    text-align: center !important;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background: #fff;
    margin: 0px !important;
}
.allActivities .preview-pane .activitystream-layout {
    padding: 0px !important;
    margin: 0px !important;
}
.allActivities .block-footer{
    background-color: #fff;
    text-align: left;
    padding: 2px;
    border-top: 1px solid #e9e9e9;
}
.allActivities .block-footer button{
    text-decoration: none;
}
.allActivities .task_closed{
    background-color: #999999 !important;
}
.allActivities .more_text, .email_html, .hide{
    display: none;
}
.allActivities .show_html{
    position: relative;
    top: 32px;
    color: #176de5;
    left: -22px;
    font-size: 10px;
}
.allActivities .page{
    float: right;
}
.row-fluid .span5{
text-align: right!important;
}
.notes_ellipsis_inline {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
</style>
{{#if this.showActivities}}
<div class="allActivities">
<div class="heading">
<span>Activities</span>
<div class="showHide">
<button class="btn btn-invisible record-panel-arrow">
<i class="fa fa-chevron-up" rel="tooltip" data-container="body" data-title="Toggle Visibility" data-original-title="" title=""></i>
</button>
</div>
</div>
<div class="listing">
<div class="activitiesStreams">

{{#if this.activities.records}} 
    <ul class="activitystream-list results">
    {{#each this.activities.records}}
        <li id="activity_{{id}}" class="activitystream-posts-comments-container">
        <div class="page"></div>
            <div class="task_{{status}} label label-module label-module-md label-{{_module}} pull-left" rel="tooltip" data-placement="right" title="" data-original-title="Lead" tabindex="-1">{{#eq _module 'Emails'}}Em 
<a href="javascript: void(0);" class="show_html"      id="show_html_{{id}}"   onclick="$('#show_html_{{id}}').hide();$('#show_simple_{{id}}').show(); $('#simple_{{id}}').hide(); $('#html_{{id}}').show();">Html</a>
<a href="javascript: void(0);" class="show_html hide" id="show_simple_{{id}}" onclick="$('#show_simple_{{id}}').hide();$('#show_html_{{id}}').show(); $('#html_{{id}}').hide(); $('#simple_{{id}}').show();">Text</a>
{{/eq}}
{{#eq _module 'Tasks'}}Ts{{/eq}}{{#eq _module 'Notes'}}Nt{{/eq}}{{#eq _module 'Calls'}}Cl{{/eq}}</div>
            <p></p>
            <div><span class="tagged"><a href="#{{_module}}/{{id}}"> {{name}}</a></span></div>
            <p></p>
            {{#eq _module 'Emails'}}
            <span class="details"><b>To:</b> {{to_addrs}}</span><br/>
            <span class="details"><b>From:</b> {{from_addr}}</span><br/>
            <span class="details"><b>Date:</b> {{formatDate date_entered dateOnly=true}}</span>
            {{#if attachements_count}}<br/><span class="details"><b>Attachements:</b>{{#each attachements}} <br/><b>*</b> <a class="notes_ellipsis_inline" data-placement="bottom" title="{{filename}}" href="rest/v10/Notes/{{note_id}}/file/filename?force_download=1&amp;1492174265692=1&amp;platform=base" target="_blank">{{filename}}</a>{{/each}}</span>{{/if}}
            <ul class="comments">
            <span id="simple_{{id}}">{{{showMore description id}}}</span>
            <span id="html_{{id}}" class="email_html">{{{description_html}}}</span>
            </ul>            
            {{/eq}}
            {{#eq _module 'Tasks'}}
            <span class="details"><b>Assigned To:</b> <a href="#bwc/index.php?module=Employees&action=DetailView&record={{assigned_user_id}}"> {{assigned_user_name}}</a></span><br>
            <span class="details"><b>Date Created:</b> {{formatDate date_entered dateOnly=true}}</span><br>
             <span class="details"><b>Last Edited:</b> {{formatDate date_modified dateOnly=true}}</span><br>
             <span class="details"><b>Due Date:</b> {{formatDate date_due dateOnly=true}}</span>
            
            <ul class="comments"><span>{{{showMore description id}}}</span></ul>   
            {{/eq}}
            {{#eq _module 'Notes'}}
            <span class="details"><b>Created By:</b> <a href="#bwc/index.php?module=Employees&action=DetailView&record={{created_by_id}}"> {{created_by_name}}</a></span><br>            
            <span class="details"><b>Date Created:</b> {{formatDate date_entered dateOnly=true}}</span><br>            
            <span class="details"><b>Last Edited:</b> {{formatDate date_modified dateOnly=true}}</span>
            <ul class="comments"><span>{{{showMore description id}}}</span></ul>
            {{/eq}}
            {{#eq _module 'Calls'}}
            <span class="details"><b>Assigned To:</b> <a href="#bwc/index.php?module=Employees&action=DetailView&record={{assigned_user_id}}"> {{assigned_user_name}}</a></span><br>
            <span class="details"><b>Date Created:</b> {{formatDate date_entered dateOnly=true}}</span><br>
             <span class="details"><b>Last Edited:</b> {{formatDate date_modified dateOnly=true}}</span><br>
             <span class="details"><b>Due Date:</b> {{formatDate date_due dateOnly=true}}</span>
            
            <ul class="comments"><span>{{{showMore description id}}}</span></ul>   
            {{/eq}}
</li>
 {{/each}}
    </ul>
{{else}}
<p class="no_activity">No data available.</p>
{{/if}}

</div>
{{#if this.activities.records}} 
<div class="block-footer">
            <button data-action="show-more" class="more-activities btn btn-link btn-invisible more padded">More Activities...</button>
        </div>
{{/if}}
</div>
 </div>
{{/if}}
<div class="block preview-data">
{{#each meta.panels}}
{{#each fields}}
    {{#notEq name 'documents_contacts'}}
        {{#if name}}
            <div class="row-fluid{{#if ../../../hide}}{{#if ../../../../../hidePanel}} hide{{/if}} panel_hidden{{/if}}">
                <div class="span5">{{str  this.label ../../../../this.model.module}}</div>
                <div class="span7" data-type="{{type}}" name="{{name}}">
                    {{field ../../../../this model=../../../../model template="preview"}}
                </div>
            </div>
        {{/if}}
    {{/notEq}}
{{/each}}
{{/each}}
    <div class="row-fluid">
        <div class="{{#unless hiddenPanelExists}} hide{{/unless}} span5 show-hide-toggle">
            <button class="btn-link btn-invisible more{{#if hideMoreButton}} hide{{/if}}"
                    data-moreless="more"
                    data-target=".panel_hidden">{{str "LBL_SHOW_MORE"}}...</button>
            <button class="btn-link btn-invisible less{{#if hideLessButton}} hide{{/if}}"
                    data-moreless="less"
                    data-target=".panel_hidden">{{str "LBL_SHOW_LESS"}}</button>
        </div>
    </div>
</div>
