{{> lq-wizard.header }}


<div class="span12 padd" style="position:relative">
          <div class="row-fluid">
            {{#with status}}
                <span class="span4 record-cell record-edit"  data-type="{{type}}" data-name="{{name}}">
                   <span class="table-cell-wrapper">
                        
                       <span class="record-label label-record" data-name="{{name}}">{{str label ../this.model.module}}:</span>
                        
                         <span class="index{{index}}" data-fieldname="{{name}}" data-index="{{index}}">
                            {{field  ../this model=../this.model template=../this.templat}}
                        </span>
                    </span>
                </span>
            {{/with}}
            {{#with nextStep}}
                <span class="span4 record-cell" data-type="{{type}}" data-name="{{name}}">
                    <span class="table-cell-wrapper">
                        
                       <span class="record-label label-record" data-name="{{name}}">{{str label ../this.model.module}}:</span>
                        
                       <span class="index{{index}}" data-fieldname="{{name}}" data-index="{{index}}">
                            {{field ../this model=../this.model template=../this.templat}}
                        </span>
                    </span>
                </span>
            {{/with}}
            <span class="span4" style="text-align:center;margin-top:17px;">
              <a class="btn btn-primary {{#eq this.templat "detail"}}disabled{{/eq}}"  name="lq_auto_excute" id="lq_auto_excute" {{#eq this.templat "detail"}}disabled{{/eq}}>{{str 'LBL_AUTO_EXECUTE' 'Leads'}}</a>
              <a class="btn btn-primary {{#eq this.templat "detail"}}disabled{{/eq}}" name="lq_create_task" id="lq_create_task" {{#eq this.templat "detail"}}disabled{{/eq}}>{{str 'LBL_CREATE_TASK' 'Leads'}}</a>
            </span>
</div>
</div>

{{> lq-wizard.footer }}
