
<div class="leadbox">
                    <ul>
                        {{#eachOptions fieldData}}
                            {{#eq value ''}}
                                <li class="leadbox-panel" id="{{key}}">{{str key ../../this.moduleName}}<i class="fa  fa-check"></i></li>
                            {{else}}
                                <li class="leadbox-panel" id="{{key}}">{{str key ../../this.moduleName}}<i class="fa  fa-close"></i></li>
                            {{/eq}}
                        {{/eachOptions}}
                    </ul>
            </div>
            <div class="leadbox addlist" style="background-color:white">
                
                    
                    <ul>
                        {{#eachOptions leadData}}
                            {{#eachOptions value}}
                                {{#eq value 'LBL_RESIDENCE_SINCE_LESS_THAN_3_YEARS'}}
                                <li class="leadbox-list" >{{str value ../../../this.moduleName}}</li>
                                {{else}}
                                <li class="leadbox-list" >{{str value ../../../this.moduleName}} is missing</li>
                                {{/eq}}
                            {{/eachOptions}}
                        {{/eachOptions}}
                    </ul>
            </div>
</div>